body {
  background: slateblue;
}

#wrapper_tetris{
  text-align:   center;
}

h1{
  color: white;
  text-transform: uppercase;
  font-weight:  bold;
  font-size: 100px;
}

#menu button{
  background: rebeccapurple;
  border: 0;
  color : white;
  font-weight: bold;
  min-width : 150px;
  padding : 10px 0;
  text-transform: uppercase;
  display: block;
  margin : 0 auto 10px auto;
  font-size: 30px
}


.grid{

}

.grid span {
  width: 30px;
  height:30px;
  display : block;
  float: left;
  border : 1px solid black

}

.grid span.first{
  clear : both
}

.grid span.color{
  background-color: black;
  color: aliceblue;
}

.colorizedEmptyCellule-1 {
  background: red;
}

.colorizedEmptyCellule-2 {
  background: blue;
}

.colorizedEmptyCellule-3 {
  background: purple;
}

.colorizedEmptyCellule-4 {
  background: yellow;
}

.colorizedEmptyCellule-5 {
  background: orange;
}

.colorizedEmptyCellule-6 {
  background: pink
}

.colorizedEmptyCellule-7 {
  background: red;
}

.grid span.projection:not(.color){
  background-color: peachpuff;
}


#nextPiece{
  position: absolute;
  right : 100px;
  top : 100px

}